
.map
  %iframe.bigsky{src:'http://bigsky.io/maps/69a5807'}

%h3 Tech Girls

.stories
  - if @stories.present?
    - @stories.each do |story|
      .story
        %span.name= story.super_hero.name
        %span.superpower= story.super_hero.super_power
        .body= story.body
  - else
    %p
      There were no stories entered yet.
